

.b-container__b-table {
    border: 1px solid #499FE9;
    display: inline-block;
    height: auto;
}

.b-container__item {
    background-color: #499FE9;
    width: 50px;
    height:50px;
}
.b-container__b-btn {
    border: 2px solid white;
    color: white;
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}


.b-container__b-wrap-table {
    display:flex;
    align-items: flex-start;

}

.b-container {
    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;
    align-items: flex-start;
}

.b-container__b-btn-hidden {
    visibility: hidden;
}
.b-container__b-column, .b-container__b-row {
    background-color: #F5AA00;
    transition: background-color 1s linear 0.2s;
}

.b-container__b-column:hover, .b-container__b-row:hover {
    cursor: pointer;
    background-color: #F6C743;
    transition: background-color 1s linear 0.2s;
}


.b-container__b-remove {
    background-color: #BB0000;
    transition: background-color 1s linear 0.2s;
}

.b-container__b-remove:hover {
    cursor: pointer;
    background-color: #D33745;
    transition: background-color 1s linear 0.2s;
}
.b-container__b-remove-column {
    margin-left: 55px;
}

.b-container__b-row {
    margin-left: 55px;
}

